body {
    font-family: sans-serif;
    background: #fff;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    align-items: center;
    background: #000;
    padding: 10px 20px;
}

.header__logo {
    height: 30px;
}